<textarea id="textQ"></textarea>
<button onClick={sendQuestion()}>Send</button>
<label id='answer'></label>

<script>
    function sendQuestion() {
        fetch('/send_question/',
        {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                    body: document.getElementById('textQ').value,
                }),
        }).then(function(result) {
            if(!result.ok) {
                console.log(result)
                throw Error('Bad data input')
            }
        }).catch(function(error) {
            alert(error)
        })

    }
</script>