<textarea id="textQ"></textarea>
<button onClick={sendQuestion()}>Send question</button>

<textarea id="username"></textarea>
<button onClick={sendUsername()}>Submit username</button>

<script>
    function sendQuestion() {
        fetch('/send_question/',
        {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                    body: document.getElementById('textQ').value,
                }),
        }).then(function(result) {
            if(!result.ok) {
                console.log(result)
                throw Error('Bad data input')
            }
        }).catch(function(error) {
            alert(error)
        })

    }

    function sendUsername() {
        fetch('/send_username/',
        {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                    body: document.getElementById('username').value,
                }),
        })
    }
</script>
