<!-- <textarea id="textQ"></textarea>
<button onClick={sendQuestion()}>Send</button>

<script>
    function sendQuestion() {
        fetch('/send_question/',
        {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                    body: document.getElementById('textQ').value,
                }),
        }).then(function(result) {
            if(!result.ok) {
                throw Error('Bad data input')
            }
        }).then(function(result){
            console.log(result)
        }).catch(function(error) {
            alert(error)
        })
    }
</script> -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"> -->
  <title>Jenkins</title>
</head>
<body>
  <section class="section">
    <div class="container">
          <div id="app" class="columns"><!-- React --></div>
    </div>
  </section>
</body>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>
</html>